<h1>Blogs du moment</h1>
<ul>
	<% @blogs.each do |blog| %>
		<li>
			<%= link_to blog do %>
				<%= blog.title %><br/>
			<% end %>
			<%= blog.abstract %><br/>
			<%= blog.picture %><br/>
			<%= blog.publication_date %>
		</li>
	<% end %>
</ul>