<h1><%= @blog.title %><br/></h1>

<p>publié le <%= @blog.publication_date %></p><br/>
<p><%= @blog.abstract %></p><br/>
<p><%= @blog.picture %></p><br/>
<p><%= @blog.body %></p><br/>
<p>écrit par <%= @blog.author.first_name %> <%= @blog.author.last_name %></p>
